.cajaProductos {
    border: 1px solid gray;
    border-radius: 15px;

    margin: 10px 5px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}